.aboutContent {
  @include size(100%, 100%);
  padding: 6rem 10rem;
  @include flex(center,center);


  &__listInfo {
    @include flex(flex-start, space-between);
    @include size(90rem, 64.7rem);
    // width: 75%;
    margin: 0 auto;
    transition: all ease-in-out 0.5s;
  }
  & .infoStage {
    border: solid 1px $primaryTextColor;
    border-radius: 2.5rem;
    padding: 2.5rem;
    background-color: #fff;
    cursor: pointer;
  }
  .infoTitle {
    font-size: 3.5rem;
    line-height: 4.5rem;
    font-family: "SVN Gilroy Bold";
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5rem;
    color: $primaryTextColor;
  }

  .infoContent {
    display: block;
    width: 100%;
    height: 50rem;
    overflow: auto;
    & h4 {
      font: bold 2.5rem/3rem "WenKai-B";
      margin-bottom: 1rem;
      color: $primaryTextColor;
    }
    & p {
      font-size: 2rem;
      line-height: 2.5rem;
      position: relative;
      @include flex(center,flex-start);
      font-family: "WenKai";
      color: #FFBB94;
    }
    & p:not(:last-child) {
      margin-bottom: .5rem;
    }
    & p i {
      margin-right: 1rem;
      width: 3rem;
      @include flex(center,center);
    }
    & p i img{
      @include size(auto, 2rem);
      filter: invert(62%) sepia(29%) saturate(638%) hue-rotate(314deg) brightness(103%) contrast(97%);
    }
  }
  .infoContent.indent {
    & p {
      text-indent: 2.5rem;
    }
    & p:before {
      content: "";
      @include size(.5rem);
      background-color: $primaryTextColor;
      border-radius: 50%;
      position: absolute;
      top: 1rem;
      left: 1rem;
    }
  }



  /** slick style **/

.slick-list {
  //   padding-top: 10% !important;
  //   padding-bottom: 10% !important;
    padding-left: 17% !important;
    padding-right: 17% !important;
  }
  
  .slick-dots {
    text-align: right;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .slick-track {
    max-width: 100% !important;
    transform: translate3d(0, 0, 0) !important;
    perspective: 100px;
  }
  
  .slick-slide {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity: 0;
    width: 100% !important;
    transform: translate3d(0, 0, 0);
    transition: transform 1s , opacity 1s ;
    background-color: #e9e9e9;
  }
  
  .slick-snext,
  .slick-sprev,
  .slick-snext2,
  .slick-sprev2 {
    display: block;
  }
  
  .slick-current {
      position: relative;
      display: block;
      z-index: 2;
  }
  
  .slick-snext {
      z-index: 1;
      perspective: 1000px;
  }
  .slick-snext2 {
      z-index: 0;
      perspective: 1000px;
  }
  
  .slick-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 9;
      font-weight: bold;
      color: #fff;
      letter-spacing: .25rem;
  }
  
  .slick-arrow.slick-next {
      left: 100rem;
  }
  
  .slick-arrow.slick-prev {
      right: 100rem;
  }
  
}




/* animation start */
.aboutContent.activeAni {
    .slick-current {
        opacity: 1;
    }
    
    .slick-snext {
        animation: opacityIn 1s .5s linear, translateNext 1s .5s linear;
    }
    .slick-snext2 {
        animation: opacityIn 1s .5s linear, translateSNext 1s .5s linear;
    }
    
    .slick-sprev {
        animation: opacityIn 1s .5s linear, translatePrev 1s .5s linear;
    }
    
    .slick-sprev2 {
        animation: opacityIn 1s .5s linear, translateSPrev 1s .5s linear;
    }
}
.aboutContent.endAni {
    .slick-current {
        opacity: 1;
    }
    .slick-snext {
        opacity: 1;
        transform: translate3d(20%, 0, -1rem);
    }
    .slick-snext2 {
        opacity: 1;
        transform: translate3d(40%, 0, -2rem);
    }
    
    .slick-sprev {
        opacity: 1;
        transform: translate3d(-20%, 0, -1rem);
    }
    
    .slick-sprev2 {
        opacity: 1;
        transform: translate3d(-40%, 0, -2rem);
    }
}

/* animation end */