.expContent {
    height: 100%;
    overflow: hidden;
    position: relative;
    &__contain {
        height: 100%;
    }
    &__detailList {
        max-width: 70%;
        height: 100%;
        overflow: auto;
        padding: 10rem;
    }
    &__infoList {
        position: absolute;
        right: 0;
        @include size(15rem);
        bottom: 0;
    }
    &__listExpContain {
        
    }
}

.listExpContain {
    &__logoItem {
        @include size(15rem);
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
        transition: all .5s linear;
    }
    &__logoItem:nth-child(1) {
        transform: rotate(-75deg);
        bottom: -18rem;
        right: 26rem;
    }
    &__logoItem:nth-child(2) {
        transform: rotate(-60deg);
        bottom: 2rem;
        right: 28rem;
    }
    &__logoItem:nth-child(3) {
        transform: rotate(-45deg);
        bottom: 20rem;
        right: 20rem;
    }
    &__logoItem:nth-child(4) {
        transform: rotate(-15deg);
        bottom: 28rem;
        right: 2rem;
    }
    &__logoItem:nth-child(n+5) {
        transform: rotate(15deg);
        bottom: 26rem;
        right: -18rem;
    }
}

.detailList {
    &__title {
        font-size: 5rem;
        line-height: 6rem;
        text-align: center;
        margin-bottom: 5rem;
    }
    &__detail {
        font-size: 2.2rem;
        line-height: 2.5rem;
        & p:not(:last-child) {
            margin-bottom: 1.2rem;
        }
    }
}

//animation
// .infoList__logoItem.current.