@charset "utf-8";
@import "fonts.scss";
@import "mixins.scss";
@import "variables.scss";
@import "reset.scss";

html {
    scroll-behavior: smooth;
    overflow: hidden;
    @include breakpoints(
        "font-size",
        "",
        (
            1920: 0.52vw,
            // 1600: 0.66vw,
            // 1280: 0.68vw,
            768: 1.302vw
        )
    );
}

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0 auto;
    padding: 1rem 0 0;
    position: relative;
    height: 100vh;
    min-height: 600px;
    font-family: 'Helvetica Neue',sans-serif;;
}

// ::-webkit-scrollbar-track
// {
//     // -webkit-box-shadow: inset 0 0 6px rgba(138, 86, 86, 0.3);
//     // background-color: #F5F5F5;
// }   

::-webkit-scrollbar
{
    width: .75rem;
    background-color: #F5F5F5;

}

::-webkit-scrollbar-thumb
{
    background-color: $primaryTextColor;
    border-radius: .5rem;
    // border: 2px solid #eeeeee;
}


.ffm-gilroy-l {
    font-family: "SVN Gilroy Light";
    font-weight: 300;
}

.ffm-gilroy-b {
    font-family: "SVN Gilroy Bold";
    font-weight: 600;
}

img {
    // vertical-align: middle;
    width: 100%;
    height: auto;
}
  
a,button {
    text-decoration: none;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
}

button {
    cursor: pointer;
}

header {
    width: 30rem;
    border: solid .1rem #a87676;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1rem;
    padding: 1rem 0;
    text-align: center;
    border-radius: 2.5rem;
    margin: 0 auto 9.4vh;
    text-transform: uppercase;
    position: relative;
    background: -webkit-linear-gradient( left,#a87676,#ca8787, #e1acac, #ffd0d0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    &::after {
        content: "";
        border-right: solid .1rem #a87676;
        height: 1rem;
        position: absolute;
        top: -1rem;
        right: 3rem;
    }
    &::before {
        content: "";
        border-left: solid .1rem #a87676;
        height: 1rem;
        position: absolute;
        top: -1rem;
        left: 3rem;
    }
}

/* sideBar style start */
.sideBar {
    position: absolute;
    top: 0;
    left: -30rem;
    width: 30rem;
    height: 100vh;
    background-image: linear-gradient(to bottom, #921a40, #c75b7a, #d9abab, #f4d9d0);
    z-index: 99;
    box-shadow: 0 0 .5rem .1rem #c38888;
    @include flex(center,center);
    transition: all ease-in-out 0.75s;
    &__navList {
        margin: auto 0;
    }
    .navLink {
        a {
            color: #fff;
            font-size: 2rem;
        }
        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }
    &__closeBtn {
        position: absolute;
        top: 7vh;
        right: 2rem;    
    }

    &__contact {
        position: absolute;
        bottom: 10vh;
        left: 50%;
        transform: translateX(-50%);
        @include flex(center,center);
        gap: 1rem;
        li {
            @include size(4.5rem);
            border-radius: 50%;
            border: solid .2rem #fff;
            @include flex(center,center);
        }
        img {
            width: 3rem;
        }
    }
}

.sideBar.extend {
    left: 0;
}

/* sideBar style end */

button.closeSideBar {
    position: fixed;
    top: 0;
    left: 30rem;
    @include size(162rem,100vh);
    z-index: -99;
    display: none;
}

button.closeSideBar.show{
    z-index: 99;
    display: block;
}

@import "homeStyle.scss";
@import "aboutStyle.scss";
@import "projectStyle.scss";
@import "expStyle.scss";
@import "keyframes.scss";

.container {
    width: 180rem;
    margin: 0 auto;
    height: 81.25vh;
    perspective: 250rem;
    @include flex(center,center);
    &__inner {
        position: relative;
        left: 0;
        @include size(0%,100%);
        background-color: #d9d9d9;
        transition: all ease-in-out .75s;
        border-radius: 1.5rem;
    }
    &__inner.limitSide {
        transform: rotateY(-20deg);
        left: 20rem;
    }
}


.menuBtn {
    position: absolute;
    top: 50%;
    left: -7rem;
    transform: translateY(-50%) rotate(-90deg);
    color: $primaryTextColor;
    z-index: 9;
    background-color: transparent; 
    text-transform: uppercase;
    border: none;
    @include flex(center,center);
    font-size: 2rem;
    font-weight: bold;
    span {
        @include size(2rem);
        margin-left: .5rem;
        img {
            filter: invert(62%) sepia(29%) saturate(638%) hue-rotate(314deg) brightness(103%) contrast(97%);
        }
    }
}

.content {
    background-image: linear-gradient(to left, #a87676,#ca8787, #e1acac, #ffd0d0);

}

.sp {
    display: none;
}

@media only screen and (max-width: 768px) {
    .sp {
        display: block;
    }
    .pc {
        display: none;
    }
    body {
      width: 100vw;
      overflow: hidden;
      
    }
  
    header {
      width: 40%;
      font-size: 2.5rem;
      border-width: .2rem;
      margin-bottom: 5vh;
    }

    .hambuger {
        position: absolute;
        top: 2rem;
        right: 2rem;
        z-index: 999;
        .bar {
            width: 3rem;
            border-bottom: solid .3rem #a87676;
            transition: all ease-in-out .5s;
            
        }
        .bar:not(:last-child) {
            margin-bottom: .5rem;
        }
    }
    .hambuger.active {
        .bar {
            border-color: #fff;
            &:nth-child(1) {
                transform: translateY(1.1rem) rotate(45deg)
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                transform: translateY(-0.3rem) rotate(-45deg)
            }
        }
    }

    .sideBar {
        left: -100vw;
        width: 100vw;
    }
    .sideBar.extend {
        left: 0;
    }

    .container {
        width: 95vw;
        height: 85.65vh;
    }
}
  


/* animation start */

.content.hiddenContent {
    animation: fadeOut ease-in-out .5s forwards;
}

.container__inner.opening {
    animation: bgOpening ease-in-out .75s forwards;
}
/* animation end */