@font-face {
  font-family: "Helvetica Neue";
  src: url(../fonts/HelveticaNeue.woff) format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "SVN Gilroy Bold";
  src: url(../fonts/SVN-Gilroy-Bold-1.woff) format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "SVN Gilroy Light";
  src: url(../fonts//SVN-Gilroy-Light-1.woff) format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "helvetica";
  src: url(../fonts/Helvetica.woff) format("woff");
}
html {
  scroll-behavior: smooth;
  overflow: hidden;
}
@media only screen and (max-width: 1920px) {
  html {
    font-size: 0.52vw;
  }
}
@media only screen and (max-width: 1600px) {
  html {
    font-size: 0.66vw;
  }
}
@media only screen and (max-width: 1280px) {
  html {
    font-size: 0.68vw;
  }
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 1.302vw;
  }
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0 auto;
  position: relative;
  height: 100vh;
  min-height: 600px;
  font-family: "Helvetica Neue", sans-serif;
}

.ffm-gilroy-l {
  font-family: "SVN Gilroy Light";
  font-weight: 300;
}

.ffm-gilroy-b {
  font-family: "SVN Gilroy Bold";
  font-weight: 600;
}

img {
  width: 100%;
  height: auto;
}

a, button {
  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
}

button {
  cursor: pointer;
}

header {
  width: 30rem;
  border: solid 0.1rem #000;
  font-size: 2rem;
  padding: 1rem 0;
  text-align: center;
  border-radius: 2.5rem;
  margin: 1vh auto 9.4vh;
  text-transform: uppercase;
  position: relative;
}
header::after {
  content: "";
  border-right: solid 0.1rem #000;
  height: 1vh;
  position: absolute;
  top: -1vh;
  right: 3rem;
}
header::before {
  content: "";
  border-left: solid 0.1rem #000;
  height: 1vh;
  position: absolute;
  top: -1vh;
  left: 3rem;
}

/* sideBar style start */
.sideBar {
  position: absolute;
  top: 0;
  left: -30rem;
  width: 30rem;
  height: 100vh;
  background-color: #c38888;
  z-index: 99;
  box-shadow: 0 0 0.5rem 0.1rem #c38888;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  transition: all ease-in-out 0.75s;
}
.sideBar__navList {
  margin: auto 0;
}
.sideBar .navLink a {
  color: #fff;
  font-size: 2rem;
}
.sideBar .navLink:not(:last-child) {
  margin-bottom: 2rem;
}
.sideBar__closeBtn {
  position: absolute;
  top: 7vh;
  right: 2rem;
}
.sideBar__contact {
  position: absolute;
  bottom: 10vh;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
}
.sideBar__contact li {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  border: solid 0.2rem #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.sideBar__contact img {
  width: 3rem;
}

.sideBar.extend {
  left: 0;
}

/* sideBar style end */
button.closeSideBar {
  position: fixed;
  top: 0;
  left: 30rem;
  width: 162rem;
  height: 100vh;
  z-index: -99;
  display: none;
}

button.closeSideBar.show {
  z-index: 99;
  display: block;
}

.homeContent {
  height: 100%;
  display: flex;
}
.homeContent__homeItem {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.homeContent__homeItem h2 {
  font-size: 6.4rem;
  margin-bottom: 1rem;
  opacity: 0;
}
.homeContent__homeItem h6 {
  font-size: 3.6rem;
  opacity: 0;
}
.homeContent__homeItem.homeAvatar {
  padding: 2.5rem 5rem;
  opacity: 0;
}
.homeContent__homeItem.homeAvatar img {
  height: 100%;
  object-fit: cover;
}

/* animation start */
.homeContent.activeAni .homeTitle h2 {
  animation: fadeInRight ease-in-out 0.25s 0.25s forwards;
}
.homeContent.activeAni .homeTitle h6 {
  animation: fadeInLeft ease-in-out 0.25s 0.25s forwards;
}
.homeContent.activeAni .homeAvatar {
  animation: fadeInUp ease-in-out 0.5s forwards;
}

/* animation end */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
.aboutContent {
  padding: 6rem;
}
.aboutContent__rack {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.aboutContent__rack span {
  width: 0%;
  height: 0.5rem;
  background-color: #000;
}
.aboutContent__listInfo {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  transition: all ease-in-out 0.5s;
}
.aboutContent .infoStage {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  transition: all ease-in-out 0.5s;
}
.aboutContent .infoStage .line {
  width: 0.4rem;
  height: 0;
  background-color: #000;
  position: relative;
}
.aboutContent .infoStage .line::after {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #c38888;
  border-radius: 50%;
  opacity: 0;
}
.aboutContent .infoStage .line::before {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: -1rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #c38888;
  border-radius: 50%;
  opacity: 0;
}
.aboutContent .infoStage .infoContent {
  width: 50rem;
  height: 0rem;
  border: solid 0rem #000;
  border-radius: 5rem;
  background-color: #fff;
}
.aboutContent .infoStage:nth-child(1) {
  left: 50%;
  transform: translateX(-50%);
}
.aboutContent .infoStage:nth-child(2) {
  z-index: 3;
}
.aboutContent .infoStage:nth-child(2) .infoContent {
  width: 55rem;
}
.aboutContent .infoStage:nth-child(3) {
  left: -50%;
  transform: translateX(50%);
}

.activeAni {
  /* animation start */
}
.activeAni .aboutContent__rack span {
  animation: rackFadeIn linear forwards 0.5s;
}
.activeAni .infoStage .line::before {
  animation: fadeIn linear forwards 0.5s 0.5s;
}
.activeAni .infoStage .line {
  animation: lineIn ease-in-out 0.5s forwards 1s;
}
.activeAni .infoStage .line::after {
  animation: fadeIn linear forwards 0.5s 1.5s;
}
.activeAni .infoStage .infoContent {
  animation: stageIn linear forwards 0.5s 2s;
}
.activeAni .infoStage:first-child {
  animation: midToLeft ease-in-out 0.5s forwards 2.5s;
}
.activeAni .infoStage:last-child {
  animation: midToRight ease-in-out 0.5s forwards 2.5s;
}

.listInfo.merge .infoStage:first-child {
  animation: leftToMid ease-in-out 0.5s forwards;
}
.listInfo.merge .infoStage:last-child {
  animation: rightToMid ease-in-out 0.5s forwards;
}

/* animation end */
@keyframes rackFadeIn {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}
@keyframes midToLeft {
  0% {
    left: 50%;
    transform: translateX(-50%);
  }
  100% {
    left: 0%;
    transform: translateX(0%);
  }
}
@keyframes leftToMid {
  0% {
    left: 0%;
    transform: translateX(0%);
  }
  100% {
    left: 50%;
    transform: translateX(-50%);
  }
}
@keyframes midToRight {
  0% {
    left: -50%;
    transform: translateX(50%);
  }
  100% {
    left: 0%;
    transform: translateX(0%);
  }
}
@keyframes rightToMid {
  0% {
    left: 0%;
    transform: translateX(0%);
  }
  100% {
    left: -50%;
    transform: translateX(50%);
  }
}
@keyframes lineIn {
  0% {
    height: 0;
  }
  100% {
    height: 11rem;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes stageIn {
  0% {
    height: 0;
    border-width: 0;
  }
  100% {
    height: 55rem;
    border-width: 0.1rem;
  }
}
.projectContent {
  position: relative;
  width: 153rem;
  height: 60rem;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.projectContent__projectList {
  position: relative;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: row;
}
.projectContent__projectList .projectContainer {
  width: auto;
  min-width: calc(100% - 20rem);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.projectContent .projectType {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column-reverse;
  margin-right: 10rem;
}
.projectContent .projectType span:first-child {
  display: inline-block;
  width: 0.3rem;
  height: 10rem;
  background-color: #000;
}
.projectContent .projectType span:last-child {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 20rem;
  background-color: #fff;
  border-radius: 1.5rem;
  position: relative;
  font-size: 2rem;
  text-align: center;
  opacity: 0;
}
.projectContent .projectType span:last-child::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -3.2rem;
  content: "";
  width: 0;
  height: 0;
  border-top: 9rem solid transparent;
  border-bottom: 9rem solid transparent;
  border-left: 3.3rem solid #fff;
}
.projectContent__projectList:nth-child(2) {
  align-items: flex-start;
}
.projectContent__projectList:nth-child(2) .projectType {
  flex-direction: column;
}
.projectContent__projectList:nth-child(2) .projectType span:first-child {
  position: relative;
  top: -10rem;
}
.projectContent .projectItem {
  width: 10.5rem;
  height: 12.5rem;
  background-color: #fff;
  border-radius: 1.5rem;
  margin-right: 5rem;
}
.projectContent .projectItem.up {
  margin-bottom: 5rem;
  position: relative;
}
.projectContent .projectItem.up::before {
  content: "";
  width: 0.2rem;
  height: 2rem;
  background-color: #000;
  position: absolute;
  bottom: -3.5rem;
  left: 50%;
  transform: translateX(-50%);
}
.projectContent .projectItem.down {
  margin-top: 5rem;
  position: relative;
}
.projectContent .projectItem.down::after {
  content: "";
  width: 0.2rem;
  height: 2rem;
  background-color: #000;
  position: absolute;
  top: -3.5rem;
  left: 50%;
  transform: translateX(-50%);
}
.projectContent__rack {
  position: absolute;
  width: 0;
  height: 0.3rem;
  background-color: #000;
  top: 50%;
  left: 5rem;
  transform: translateY(-50%);
}

.projectContent.activeAni .projectContent__projectList .projectType span:last-child {
  animation: fadeIn ease-in-out 0.75s 1.5s forwards;
}
.projectContent.activeAni .projectContent__projectList:nth-child(2) .projectType span:first-child {
  animation: rotateHalf ease-in-out 0.5s 1s forwards;
}
.projectContent.activeAni .projectContent__rack {
  animation: rotateQuarter ease-in-out 1s 1.25s forwards;
}

@keyframes rotateHalf {
  0% {
    transform-origin: center bottom;
    transform: rotate(0deg);
  }
  100% {
    transform-origin: center bottom;
    transform: rotate(180deg);
  }
}
@keyframes rotateQuarter {
  0% {
    transform: translateY(-50%);
    width: 0;
  }
  50% {
    transform: translateY(-50%);
    width: 0;
  }
  100% {
    transform: translateY(-50%);
    width: calc(100% - 5rem);
  }
}
.container {
  width: 180rem;
  margin: 0 auto;
  height: 81.25vh;
  perspective: 250rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.container__inner {
  position: relative;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #d9d9d9;
  transition: all ease-in-out 0.75s;
  border-radius: 1.5rem;
}
.container__inner.limitSide {
  transform: rotateY(-20deg);
  left: 20rem;
}

.menuBtn {
  position: absolute;
  top: 50%;
  left: -7rem;
  transform: translateY(-50%) rotate(-90deg);
  color: #000;
  z-index: 9;
  background-color: transparent;
  text-transform: uppercase;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: 2rem;
  font-weight: bold;
}
.menuBtn span {
  width: 2rem;
  height: 2rem;
  margin-left: 0.5rem;
}

/* animation start */
.content.hiddenContent {
  animation: fadeOut ease-in-out 0.5s forwards;
}

.container__inner.opening {
  animation: bgOpening ease-in-out 0.75s forwards;
}

/* animation end */
@keyframes bgOpening {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-5rem);
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
