@charset "utf-8";
@import "fonts.scss"; @import "mixins.scss"; @import "variables.scss";

html {
    @include breakpoints(
        "font-size",
        "",
        (
            1920: 10px,
            1600: 0.66vw,
            1280: 0.68vw,
            768: 1.302vw,
        )
    );
    scroll-behavior: smooth;
    overflow: hidden;
}

body {
    width: 100%;
    margin: 0 auto;
    position: relative;
    height: 100vh;
    min-height: 600px;
}

img {
    vertical-align: middle;
    width: 100%;
    height: auto;
}
  
a {
    text-decoration: none;
    text-transform: uppercase;
}

button {
    cursor: pointer;
}

header {
    margin-bottom: 10.4vh;
}

.container {
    position: relative;
    // top: 14.8vh;
    width: 180rem;
    background-color: #d9d9d9;
    margin: 0 auto;
    height: 81.25vh;
}

.menuBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
    color: #000;
    z-index: 9;
    background-color: #fff; 
    text-transform: uppercase;
    @include flex();
    & span {
        transform: rotate(90deg);
    }
}