@font-face {
  font-family: "Helvetica Neue";
  src: url(../fonts/HelveticaNeue.woff) format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "SVN Gilroy Bold";
  src: url(../fonts/SVN-Gilroy-Bold-1.woff) format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "SVN Gilroy Light";
  src: url(../fonts//SVN-Gilroy-Light-1.woff) format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "helvetica";
  src: url(../fonts/Helvetica.woff) format("woff");
}
html {
  scroll-behavior: smooth;
  overflow: hidden;
}
@media only screen and (max-width: 1920px) {
  html {
    font-size: 0.52vw;
  }
}
@media only screen and (max-width: 1600px) {
  html {
    font-size: 0.66vw;
  }
}
@media only screen and (max-width: 1280px) {
  html {
    font-size: 0.68vw;
  }
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 1.302vw;
  }
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0 auto;
  position: relative;
  height: 100vh;
  min-height: 600px;
  font-family: "Helvetica Neue", sans-serif;
}

.ffm-gilroy-l {
  font-family: "SVN Gilroy Light";
  font-weight: 300;
}

.ffm-gilroy-b {
  font-family: "SVN Gilroy Bold";
  font-weight: 600;
}

img {
  width: 100%;
  height: auto;
}

a, button {
  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
}

button {
  cursor: pointer;
}

header {
  width: 30rem;
  border: solid 0.1rem #000;
  font-size: 2rem;
  padding: 1rem 0;
  text-align: center;
  border-radius: 2.5rem;
  margin: 1vh auto 9.4vh;
  text-transform: uppercase;
  position: relative;
}
header::after {
  content: "";
  border-right: solid 0.1rem #000;
  height: 1vh;
  position: absolute;
  top: -1vh;
  right: 3rem;
}
header::before {
  content: "";
  border-left: solid 0.1rem #000;
  height: 1vh;
  position: absolute;
  top: -1vh;
  left: 3rem;
}

/* sideBar style start */
.sideBar {
  position: absolute;
  top: 0;
  left: -30rem;
  width: 30rem;
  height: 100vh;
  background-color: #c38888;
  z-index: 99;
  box-shadow: 0 0 0.5rem 0.1rem #c38888;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  transition: all ease-in-out 0.75s;
}
.sideBar__navList {
  margin: auto 0;
}
.sideBar .navLink a {
  color: #fff;
  font-size: 2rem;
}
.sideBar .navLink:not(:last-child) {
  margin-bottom: 2rem;
}
.sideBar__closeBtn {
  position: absolute;
  top: 7vh;
  right: 2rem;
}
.sideBar__contact {
  position: absolute;
  bottom: 10vh;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
}
.sideBar__contact li {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  border: solid 0.2rem #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.sideBar__contact img {
  width: 3rem;
}

.sideBar.extend {
  left: 0;
}

/* sideBar style end */
button.closeSideBar {
  position: fixed;
  top: 0;
  left: 30rem;
  width: 162rem;
  height: 100vh;
  z-index: -99;
  display: none;
}

button.closeSideBar.show {
  z-index: 99;
  display: block;
}

.homeContent {
  height: 100%;
  display: flex;
}
.homeContent__homeItem {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.homeContent__homeItem h2 {
  font-size: 6.4rem;
  margin-bottom: 1rem;
  opacity: 0;
}
.homeContent__homeItem h6 {
  font-size: 3.6rem;
  opacity: 0;
}
.homeContent__homeItem.homeAvatar {
  padding: 2.5rem 5rem;
  opacity: 0;
}
.homeContent__homeItem.homeAvatar img {
  height: 100%;
  object-fit: cover;
}

/* animation start */
.homeContent.activeAni .homeTitle h2 {
  animation: fadeInRight ease-in-out 0.25s 0.25s forwards;
}
.homeContent.activeAni .homeTitle h6 {
  animation: fadeInLeft ease-in-out 0.25s 0.25s forwards;
}
.homeContent.activeAni .homeAvatar {
  animation: fadeInUp ease-in-out 0.5s forwards;
}

/* animation end */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
.aboutContent {
  width: 100%;
  height: 100%;
  padding: 6rem 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.aboutContent__listInfo {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  width: 90rem;
  height: 50rem;
  margin: 0 auto;
  transition: all ease-in-out 0.5s;
}
.aboutContent .infoStage {
  border: solid 1px #333;
  border-radius: 2.5rem;
  padding: 2.5rem;
  background-color: #fff;
}
.aboutContent .infoContent {
  display: block;
  width: 100%;
  height: 50rem;
}

/** slick style **/
.slick-list {
  padding-left: 17% !important;
  padding-right: 17% !important;
}

.slick-dots {
  text-align: right;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.slick-track {
  max-width: 100% !important;
  transform: translate3d(0, 0, 0) !important;
  perspective: 100px;
}

.slick-slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  opacity: 0;
  width: 100% !important;
  transform: translate3d(0, 0, 0);
  transition: transform 1s, opacity 1s;
}

.slick-snext,
.slick-sprev,
.slick-snext2,
.slick-sprev2 {
  display: block;
}

.slick-current {
  position: relative;
  display: block;
  z-index: 2;
}

.slick-snext {
  z-index: 1;
  perspective: 1000px;
}

.slick-snext2 {
  z-index: 0;
  perspective: 1000px;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
}

.slick-arrow.slick-next {
  left: 100rem;
}

.slick-arrow.slick-prev {
  right: 100rem;
}

/* animation start */
.aboutContent.activeAni .slick-current {
  opacity: 1;
}
.aboutContent.activeAni .slick-snext {
  animation: opacityIn 1s 0.5s linear, translateNext 1s 0.5s linear;
}
.aboutContent.activeAni .slick-snext2 {
  animation: opacityIn 1s 0.5s linear, translateSNext 1s 0.5s linear;
}
.aboutContent.activeAni .slick-sprev {
  animation: opacityIn 1s 0.5s linear, translatePrev 1s 0.5s linear;
}
.aboutContent.activeAni .slick-sprev2 {
  animation: opacityIn 1s 0.5s linear, translateSPrev 1s 0.5s linear;
}

.aboutContent.endAni .slick-current {
  opacity: 1;
}
.aboutContent.endAni .slick-snext {
  opacity: 1;
  transform: translate3d(20%, 0, -1rem);
}
.aboutContent.endAni .slick-snext2 {
  opacity: 1;
  transform: translate3d(40%, 0, -2rem);
}
.aboutContent.endAni .slick-sprev {
  opacity: 1;
  transform: translate3d(-20%, 0, -1rem);
}
.aboutContent.endAni .slick-sprev2 {
  opacity: 1;
  transform: translate3d(-40%, 0, -2rem);
}

/* animation end */
@keyframes opacityIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes translateSNext {
  100% {
    transform: translate3d(40%, 0, -2rem);
  }
}
@keyframes translateNext {
  100% {
    transform: translate3d(20%, 0, -1rem);
  }
}
@keyframes translateSPrev {
  100% {
    transform: translate3d(-40%, 0, -2rem);
  }
}
@keyframes translatePrev {
  100% {
    transform: translate3d(-20%, 0, -1rem);
  }
}
.projectContent {
  width: 100%;
  height: 100%;
  padding: 5rem 10rem;
  overflow-y: auto;
  position: relative;
}
.projectContent__projectGroup {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin-bottom: 3.5rem;
  column-gap: 26.7rem;
}
.projectContent__projectGroup:nth-child(even) {
  justify-content: flex-end;
}
.projectContent__projectGroup:last-child {
  margin-bottom: 0;
}
.projectContent__projectItem {
  background-color: #fff;
  width: 15rem;
  height: 15rem;
  border-radius: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  cursor: pointer;
  transition: all 0.5s linear;
  position: relative;
}
.projectContent__projectItem:hover {
  border-radius: 50%;
}
.projectContent__projectDetail {
  position: absolute;
  width: calc(100% - 1rem);
  height: calc(100% - 1rem);
  top: 0.5rem;
  right: 0.5rem;
  z-index: 9;
}
.projectContent__detailInner {
  width: 65%;
  height: 100%;
  background-color: #fff;
  border-radius: 1.5rem;
}
.projectContent::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(138, 86, 86, 0.3);
  background-color: #F5F5F5;
}
.projectContent::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}
.projectContent::-webkit-scrollbar-thumb {
  background-color: #fff;
  border: 2px solid #eeeeee;
}

.container {
  width: 180rem;
  margin: 0 auto;
  height: 81.25vh;
  perspective: 250rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.container__inner {
  position: relative;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #d9d9d9;
  transition: all ease-in-out 0.75s;
  border-radius: 1.5rem;
}
.container__inner.limitSide {
  transform: rotateY(-20deg);
  left: 20rem;
}

.menuBtn {
  position: absolute;
  top: 50%;
  left: -7rem;
  transform: translateY(-50%) rotate(-90deg);
  color: #000;
  z-index: 9;
  background-color: transparent;
  text-transform: uppercase;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: 2rem;
  font-weight: bold;
}
.menuBtn span {
  width: 2rem;
  height: 2rem;
  margin-left: 0.5rem;
}

/* animation start */
.content.hiddenContent {
  animation: fadeOut ease-in-out 0.5s forwards;
}

.container__inner.opening {
  animation: bgOpening ease-in-out 0.75s forwards;
}

/* animation end */
@keyframes bgOpening {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-5rem);
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
