.projectContent {
    @include size(100%);
    padding: 5rem 10rem;
    overflow-y: auto;
    position: relative;
    &__projectGroup {
        @include flex(center, flex-start);
        margin-bottom: 3.5rem;
        column-gap: 26.7rem;
        &:nth-child(even) {
            justify-content: flex-end;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__projectItem {
        background-color: #fff;
        @include size(15rem);
        border-radius: 2.5rem;
        @include flex(center,center);
        cursor: pointer;
        transition: all .5s linear;
        position: relative;
        &:hover {
            // @include size(17.5rem);
            border-radius: 50%;
        }
    }
    &__projectDetail{
        position: absolute;
        @include size(calc(100% - 1rem));
        top: .5rem;
        right: .5rem;
        
        z-index: 9;
    }
    &__detailInner {
        @include size(65%,100%);
        background-color: #fff;
        border-radius: 1.5rem;
    }

    &::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(138, 86, 86, 0.3);
        background-color: #F5F5F5;
    }   

    &::-webkit-scrollbar
    {
        width: 10px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb
    {
        background-color: #fff;
        border: 2px solid #eeeeee;
    }
}

.projectContent.activeAni {

}
